In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from os import path

In [2]:
MAIN_PATH = path.join("..")
DATA_PATH = path.join(MAIN_PATH, "data")
FILE_PATH = path.join(DATA_PATH, "{}").format
FILE_PATH("HOLA")

'..\\data\\HOLA'

In [3]:
from os import listdir

files_list = listdir(DATA_PATH)
df = {name: pd.read_csv(FILE_PATH(name)) for name in files_list}
SALES_RECIEPTS, CUSTOMER, DATES, GENERATIONS, PASTRY_INV, PRODUCT, SALES_TARGET, SALES_OUTLET, STAFF = files_list
files_list

['201904 sales reciepts.csv',
 'customer.csv',
 'Dates.csv',
 'generations.csv',
 'pastry inventory.csv',
 'product.csv',
 'sales targets.csv',
 'sales_outlet.csv',
 'staff.csv']

## Sales Reciepts

In [4]:
df_sales_rec = df[SALES_RECIEPTS]
df_sales_rec.head()

,transaction_id,transaction_date,transaction_time,sales_outlet_id,staff_id,customer_id,instore_yn,order,line_item_id,product_id,quantity,line_item_amount,unit_price,promo_item_yn
0,7,2019-04-01,12:04:43,3,12,558,N,1,1,52,1,2.50,2.50,N
1,11,2019-04-01,15:54:39,3,17,781,N,1,1,27,2,7.00,3.50,N
2,19,2019-04-01,14:34:59,3,17,788,Y,1,1,46,2,5.00,2.50,N
3,32,2019-04-01,16:06:04,3,12,683,N,1,1,23,2,5.00,2.50,N
4,33,2019-04-01,19:18:37,3,17,99,Y,1,1,34,1,2.45,2.45,N

In [22]:
ordered_df_sales_rec = df_sales_rec.sort_values(["transaction_date", "transaction_time", "sales_outlet_id", "staff_id"])
ordered_df_sales_rec.reset_index(drop=True, inplace=True)
ordered_df_sales_rec.head(50)

,transaction_id,transaction_date,transaction_time,sales_outlet_id,staff_id,customer_id,instore_yn,order,line_item_id,product_id,quantity,line_item_amount,unit_price,promo_item_yn
0,390,2019-04-01,07:01:20,5,12,5658,Y,1,1,22,2,4.00,2.00,N
1,2465,2019-04-01,07:02:34,5,12,5163,Y,1,1,30,2,6.00,3.00,N
2,1228,2019-04-01,07:02:56,5,30,5197,N,1,1,22,1,2.00,2.00,N
3,1644,2019-04-01,07:03:30,5,12,5247,Y,1,1,22,2,4.00,2.00,N
4,1034,2019-04-01,07:04:24,5,30,5333,N,1,1,37,1,3.00,3.00,N
5,1338,2019-04-01,07:06:11,5,30,5465,Y,1,1,32,2,6.00,3.00,N
6,799,2019-04-01,07:06:29,5,12,5923,N,1,1,46,1,2.50,2.50,N
7,2257,2019-04-01,07:06:32,5,30,5627,N,1,1,22,1,2.00,2.00,N
8,2254,2019-04-01,07:07:09,5,30,5340,N,1,1,59,2,9.00,4.50,N
9,994,2019-04-01,07:07:19,5,12,5806,Y,1,1,61,1,4.75,4.75,N
10,399,2019-04-01,07:08:56,5,30,5895,Y,1,1,57,2,6.20,3.10,N
11,1269,2019-04-01,07:09:09,5,30,5583,N,1,1,49,1,3.00,3.00,N
12,1127,2019-04-01,07:09:59,5,30,5073,Y,1,1,61,2,9.50,4.75,N
13,1490,2019-04-01,07:12:10,5,30,5050,N,1,1,45,1,3.00,3.00,N
14,451,2019-04-01,07:14:04,5,26,5412,N,1,1,59,2,9.00,4.50,N
15,981,2019-04-01,07:15:02,5,26,5376,N,1,1,34,1,2.45,2.45,N
16,991,2019-04-01,07:18:04,5,26,5224,N,1,1,44,1,2.50,2.50,N
17,1154,2019-04-01,07:19:13,5,30,5439,Y,1,1,39,1,4.25,4.25,N
18,1154,2019-04-01,07:19:13,5,30,5439,Y,1,5,77,1,3.00,3.00,N
19,1132,2019-04-01,07:20:00,5,12,5720,N,1,1,54,2,5.00,2.50,N
20,1170,2019-04-01,07:20:24,5,12,5676,Y,1,1,22,1,2.00,2.00,N
21,1437,2019-04-01,07:20:59,5,30,5907,Y,1,1,50,2,5.00,2.50,N
22,625,2019-04-01,07:21:23,5,26,5921,Y,1,1,54,2,5.00,2.50,N
23,2264,2019-04-01,07:22:41,5,12,5162,Y,1,1,40,1,3.75,3.75,N
24,248,2019-04-01,07:22:41,5,30,5479,N,1,1,57,2,6.20,3.10,N
25,248,2019-04-01,07:22:41,5,30,5479,N,1,5,77,1,3.00,3.00,N
26,1994,2019-04-01,07:24:20,5,30,5514,N,1,1,53,1,3.00,3.00,N
27,2391,2019-04-01,07:25:09,5,26,5743,Y,1,1,56,2,5.10,2.55,N
28,2391,2019-04-01,07:25:09,5,26,5743,Y,1,5,74,1,3.50,3.50,N
29,897,2019-04-01,07:25:39,5,30,5164,Y,1,1,47,2,6.00,3.00,N
30,335,2019-04-01,07:25:49,5,12,5543,Y,1,1,22,1,2.00,2.00,N
31,1933,2019-04-01,07:26:59,5,12,5178,N,1,1,27,2,7.00,3.50,N
32,2488,2019-04-01,07:27:26,5,26,5635,Y,1,1,53,2,6.00,3.00,N
33,2344,2019-04-01,07:27:31,5,12,5672,N,1,1,32,1,3.00,3.00,N
34,2344,2019-04-01,07:27:31,5,12,5672,N,1,5,71,1,3.75,3.75,N
35,1735,2019-04-01,07:32:03,5,12,5630,Y,1,1,61,2,9.50,4.75,N
36,2147,2019-04-01,07:33:34,5,26,5195,N,1,1,28,2,4.00,2.00,N
37,1911,2019-04-01,07:39:13,5,12,5231,Y,1,1,39,1,4.25,4.25,N
38,2399,2019-04-01,07:39:34,5,30,5489,Y,1,1,58,2,7.00,3.50,N
39,1023,2019-04-01,07:41:18,5,30,5227,Y,1,1,34,2,4.90,2.45,N
40,1866,2019-04-01,07:41:34,5,12,5115,N,1,1,22,1,2.00,2.00,N
41,534,2019-04-01,07:43:05,5,26,5373,N,1,1,56,1,2.55,2.55,N
42,1295,2019-04-01,07:44:35,5,12,5162,N,1,1,33,2,7.00,3.50,N
43,2475,2019-04-01,07:45:51,5,30,5394,N,1,1,51,1,3.00,3.00,N
44,330,2019-04-01,07:46:28,5,26,5291,Y,1,1,24,2,6.00,3.00,N
45,330,2019-04-01,07:46:28,5,26,5291,Y,1,5,72,1,3.25,3.25,N
46,2428,2019-04-01,07:46:30,5,26,5508,N,1,1,47,2,6.00,3.00,N
47,2255,2019-04-01,07:47:02,5,12,5278,N,1,1,58,2,7.00,3.50,N
48,1483,2019-04-01,07:48:19,5,12,5491,N,1,1,57,1,3.10,3.10,N
49,865,2019-04-01,07:49:41,5,30,5593,N,1,1,50,2,5.00,2.50,N

In [38]:
gen = ordered_df_sales_rec.iterrows()

last_i, last_row = next(gen)

repeated_list = []

c0 = "transaction_id"
c1, c2, c3, c4 = "transaction_date", "transaction_time", "sales_outlet_id", "staff_id"

at1_1, at2_1, at3_1, at4_1 = last_row[c1], last_row[c2], last_row[c3], last_row[c4]
ordered_df_sales_rec.loc[0, c0] = 0

j = 1
for i, row in gen:
    ordered_df_sales_rec.loc[i, c0] = ordered_df_sales_rec.loc[i-1, c0] + 1
    last_row = ordered_df_sales_rec.loc[i-1]
    at1_1, at2_1, at3_1, at4_1 = last_row[c1], last_row[c2], last_row[c3], last_row[c4]
    at1_2, at2_2, at3_2, at4_2 = row[c1], row[c2], row[c3], row[c4]
    if (at1_1 == at1_2 and at2_1 == at2_2 and at3_1 == at3_2 and at4_1 == at4_2):
        ordered_df_sales_rec.loc[i, c0] = ordered_df_sales_rec.loc[i-1, c0]
#         print(f"{i-1=}, {last_row.transaction_id=}, {i=}, {row.transaction_id=}")
        repeated_list.append(last_row)
        repeated_list.append(row)
#     print(f"{i=}")
# ordered_df_sales_rec.loc[:10]
# repeated_list

In [39]:
ordered_df_sales_rec

,transaction_id,transaction_date,transaction_time,sales_outlet_id,staff_id,customer_id,instore_yn,order,line_item_id,product_id,quantity,line_item_amount,unit_price,promo_item_yn
0,0,2019-04-01,07:01:20,5,12,5658,Y,1,1,22,2,4.0,2.0,N
1,1,2019-04-01,07:02:34,5,12,5163,Y,1,1,30,2,6.0,3.0,N
2,2,2019-04-01,07:02:56,5,30,5197,N,1,1,22,1,2.0,2.0,N
3,3,2019-04-01,07:03:30,5,12,5247,Y,1,1,22,2,4.0,2.0,N
4,4,2019-04-01,07:04:24,5,30,5333,N,1,1,37,1,3.0,3.0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49889,39174,2019-04-29,19:57:00,8,15,8440,N,1,1,22,1,2.0,2.0,N
49890,39174,2019-04-29,19:57:00,8,15,8440,N,1,5,77,1,3.0,3.0,N
49891,39175,2019-04-29,19:57:52,3,14,0,Y,1,1,52,2,5.0,2.5,N
49892,39176,2019-04-29,19:57:55,3,14,0,Y,1,1,51,2,6.0,3.0,N
49893,39177,2019-04-29,19:59:28,8,15,0,N,1,1,30,1,3.0,3.0,N

In [52]:
ordered_df_sales_rec.loc[13263:].head(50)

,transaction_id,transaction_date,transaction_time,sales_outlet_id,staff_id,customer_id,instore_yn,order,line_item_id,product_id,quantity,line_item_amount,unit_price,promo_item_yn
13263,11013,2019-04-09,07:08:31,8,41,8466,Y,1,2,63,2,1.60,0.80,N
13264,11014,2019-04-09,07:08:32,8,42,8482,Y,1,1,52,1,2.50,2.50,N
13265,11014,2019-04-09,07:08:32,8,42,8482,Y,1,3,69,1,3.25,3.25,N
13266,11015,2019-04-09,07:08:45,8,41,8376,N,1,1,44,2,5.00,2.50,N
13267,11016,2019-04-09,07:08:53,8,42,0,Y,1,1,58,1,3.50,3.50,N
13268,11017,2019-04-09,07:09:08,3,10,0,Y,1,1,52,1,2.50,2.50,N
13269,11018,2019-04-09,07:09:51,3,6,0,Y,1,1,47,1,3.00,3.00,N
13270,11019,2019-04-09,07:10:13,3,9,451,N,1,1,46,2,5.00,2.50,N
13271,11020,2019-04-09,07:10:20,8,42,0,Y,1,1,46,2,5.00,2.50,N
13272,11021,2019-04-09,07:10:44,3,8,163,N,1,1,59,1,4.50,4.50,N
13273,11022,2019-04-09,07:11:25,3,8,0,Y,1,1,39,1,4.25,4.25,N
13274,11022,2019-04-09,07:11:25,3,8,0,Y,1,2,63,2,1.60,0.80,N
13275,11022,2019-04-09,07:11:25,3,8,0,Y,1,5,78,1,4.50,4.50,N
13276,11022,2019-04-09,07:11:25,3,8,0,Y,2,3,63,1,0.80,0.80,N
13277,11022,2019-04-09,07:11:25,3,8,0,Y,2,6,39,1,4.25,4.25,N
13278,11022,2019-04-09,07:11:25,3,8,0,Y,3,4,65,2,1.60,0.80,N
13279,11022,2019-04-09,07:11:25,3,8,0,Y,3,7,39,1,4.25,4.25,N
13280,11023,2019-04-09,07:11:25,8,42,8173,Y,1,1,39,2,8.50,4.25,N
13281,11023,2019-04-09,07:11:25,8,42,8173,Y,1,2,65,2,1.60,0.80,N
13282,11023,2019-04-09,07:11:25,8,42,8173,Y,1,3,79,1,3.75,3.75,N
13283,11024,2019-04-09,07:11:38,8,45,0,Y,1,1,55,2,8.00,4.00,N
13284,11024,2019-04-09,07:11:38,8,45,0,Y,6,6,20,1,7.60,7.60,N
13285,11025,2019-04-09,07:12:17,8,41,0,Y,1,1,40,2,7.50,3.75,N
13286,11025,2019-04-09,07:12:17,8,41,0,Y,1,2,64,1,0.80,0.80,N
13287,11026,2019-04-09,07:12:33,8,45,8192,N,1,1,57,1,3.10,3.10,N
13288,11027,2019-04-09,07:12:39,3,6,420,N,1,1,61,1,4.75,4.75,N
13289,11028,2019-04-09,07:13:10,8,42,0,N,1,1,35,1,3.10,3.10,N
13290,11029,2019-04-09,07:13:35,3,8,0,Y,1,1,38,1,3.75,3.75,N
13291,11030,2019-04-09,07:14:02,3,9,107,N,1,1,59,2,9.00,4.50,N
13292,11031,2019-04-09,07:14:21,8,41,0,Y,1,1,53,1,3.00,3.00,N
13293,11032,2019-04-09,07:15:09,3,8,446,Y,1,1,55,1,4.00,4.00,N
13294,11033,2019-04-09,07:15:40,8,45,0,Y,1,1,23,2,5.00,2.50,N
13295,11034,2019-04-09,07:15:42,3,8,699,N,1,1,24,1,3.00,3.00,N
13296,11035,2019-04-09,07:15:46,3,8,0,Y,1,1,71,1,1.00,3.75,N
13297,11036,2019-04-09,07:15:54,3,9,0,N,1,1,28,1,2.00,2.00,N
13298,11037,2019-04-09,07:16:48,8,42,0,Y,1,1,61,2,9.50,4.75,N
13299,11038,2019-04-09,07:17:26,3,6,0,N,1,1,34,1,2.45,2.45,N
13300,11039,2019-04-09,07:17:33,3,9,67,Y,1,1,60,1,3.75,3.75,N
13301,11040,2019-04-09,07:17:41,8,42,0,N,1,1,52,1,2.50,2.50,N
13302,11041,2019-04-09,07:18:19,8,45,0,Y,1,1,55,1,4.00,4.00,N
13303,11042,2019-04-09,07:19:05,8,45,0,N,1,1,87,2,6.00,3.00,N
13304,11043,2019-04-09,07:19:26,8,42,8276,Y,1,1,30,2,6.00,3.00,N
13305,11044,2019-04-09,07:19:30,8,45,0,N,1,1,41,2,8.50,4.25,N
13306,11044,2019-04-09,07:19:30,8,45,0,N,1,2,63,1,0.80,0.80,N
13307,11045,2019-04-09,07:19:35,8,41,0,N,1,1,41,1,4.25,4.25,N
13308,11045,2019-04-09,07:19:35,8,41,0,N,1,2,65,1,0.80,0.80,N
13309,11046,2019-04-09,07:19:45,8,41,0,Y,1,1,71,1,3.75,3.75,N
13310,11047,2019-04-09,07:20:13,3,6,0,N,1,1,26,1,3.00,3.00,N
13311,11048,2019-04-09,07:20:38,3,10,368,Y,1,1,31,1,2.20,2.20,N
13312,11049,2019-04-09,07:21:05,8,41,0,Y,1,1,24,1,3.00,3.00,N

In [50]:
[g for _, g in ordered_df_sales_rec.groupby(c0).groups.items() if len(g) == 7]
# ordered_df_sales_rec.groupby(c0).groups.items()

[Int64Index([13273, 13274, 13275, 13276, 13277, 13278, 13279], dtype='int64')]

In [17]:
df_sales_rec[df_sales_rec.transaction_id == 1].sort_values(["transaction_date", "transaction_time", "staff_id"])

,transaction_id,transaction_date,transaction_time,sales_outlet_id,staff_id,customer_id,instore_yn,order,line_item_id,product_id,quantity,line_item_amount,unit_price,promo_item_yn
4432,1,2019-04-03,13:26:51,8,42,8349,N,1,1,44,1,2.50,2.50,N
4433,1,2019-04-03,13:26:51,8,42,8349,N,1,5,70,1,3.25,3.25,N
3915,1,2019-04-03,15:55:36,5,12,5250,Y,1,1,58,1,3.50,3.50,N
6569,1,2019-04-05,17:27:40,3,17,169,N,1,1,56,1,2.55,2.55,N
6570,1,2019-04-05,17:27:40,3,17,169,N,1,5,70,1,3.25,3.25,N
8203,1,2019-04-06,16:05:09,3,12,173,N,1,1,23,2,5.00,2.50,N
10188,1,2019-04-07,07:08:39,5,29,5315,Y,1,1,31,2,4.40,2.20,N
10692,1,2019-04-07,08:46:29,8,44,0,N,1,1,51,1,3.00,3.00,N
10693,1,2019-04-07,08:46:29,8,44,0,N,1,4,69,1,3.25,3.25,N
9668,1,2019-04-07,10:16:40,3,20,608,N,1,1,45,1,3.00,3.00,N
12569,1,2019-04-08,08:06:29,8,41,0,Y,1,1,22,1,2.00,2.00,N
12570,1,2019-04-08,08:06:29,8,41,0,Y,1,3,77,1,3.00,3.00,N
11361,1,2019-04-08,08:33:55,3,6,15,N,1,1,35,1,3.10,3.10,N
11970,1,2019-04-08,10:54:37,5,28,5389,N,1,1,31,2,4.40,2.20,N
13731,1,2019-04-09,08:14:07,5,25,5620,Y,1,1,29,2,5.00,2.50,N
13207,1,2019-04-09,08:31:18,3,9,648,N,1,1,34,1,2.45,2.45,N
13208,1,2019-04-09,08:31:18,3,9,648,N,1,2,33,2,7.00,3.50,N
13209,1,2019-04-09,08:31:18,3,9,648,N,1,3,4,1,20.45,20.45,N
14281,1,2019-04-09,10:01:24,8,42,0,N,1,1,26,1,3.00,3.00,N
16105,1,2019-04-10,09:21:40,8,44,0,N,1,1,43,1,3.00,3.00,N
15521,1,2019-04-10,09:22:57,5,26,5673,Y,1,1,25,1,2.20,2.20,N
15522,1,2019-04-10,09:22:57,5,26,5673,Y,1,5,73,1,3.75,3.75,N
14964,1,2019-04-10,10:18:16,3,20,160,N,1,1,52,2,5.00,2.50,N
17264,1,2019-04-11,06:23:18,5,28,0,N,1,1,44,1,2.50,2.50,N
17859,1,2019-04-11,08:54:00,8,42,0,N,1,1,35,2,6.20,3.10,N
17860,1,2019-04-11,08:54:00,8,42,0,N,1,5,77,1,3.00,3.00,N
16762,1,2019-04-11,10:12:12,3,19,381,Y,1,1,31,2,4.40,2.20,N
16763,1,2019-04-11,10:12:12,3,19,381,Y,9,1,83,1,14.00,14.00,N
19507,1,2019-04-12,08:35:19,8,44,0,Y,1,1,51,1,3.00,3.00,N
18469,1,2019-04-12,10:13:54,3,18,490,Y,1,1,59,2,9.00,4.50,N
18873,1,2019-04-12,10:34:25,5,26,0,N,1,1,31,2,4.40,2.20,N
20652,1,2019-04-13,07:28:25,5,30,5867,N,1,1,61,2,9.50,4.75,N
21275,1,2019-04-13,08:05:12,8,45,8294,N,1,1,57,2,6.20,3.10,N
20150,1,2019-04-13,10:00:38,3,16,682,Y,1,1,37,2,6.00,3.00,N
20151,1,2019-04-13,10:00:38,3,16,682,Y,1,2,63,1,0.80,0.80,N
21979,1,2019-04-14,08:45:04,3,16,130,N,1,1,23,1,2.50,2.50,N
22989,1,2019-04-14,08:48:52,8,45,0,N,1,1,29,1,2.50,2.50,N
22457,1,2019-04-14,09:55:15,5,30,0,Y,1,1,30,1,3.00,3.00,N
24405,1,2019-04-15,09:33:22,5,26,5635,N,1,1,42,1,2.50,2.50,N
26826,1,2019-04-16,07:55:22,8,42,8292,N,1,1,32,1,3.00,3.00,N
29253,1,2019-04-18,07:42:52,3,14,0,N,1,1,47,2,6.00,3.00,N
33647,1,2019-04-20,10:44:51,5,12,0,Y,1,1,37,2,6.00,3.00,N
33648,1,2019-04-20,10:44:51,5,12,0,Y,1,2,63,1,0.80,0.80,N
33004,1,2019-04-20,10:54:46,3,9,120,Y,1,1,55,1,4.00,4.00,N
35769,1,2019-04-21,08:35:24,8,45,0,Y,1,1,48,2,5.00,2.50,N
35770,1,2019-04-21,08:35:24,8,45,0,Y,9,1,81,1,28.00,28.00,N
34784,1,2019-04-21,08:45:04,3,16,130,N,1,1,23,1,2.50,2.50,N
38727,1,2019-04-23,06:47:13,5,26,0,Y,1,1,38,1,3.75,3.75,N
38728,1,2019-04-23,06:47:13,5,26,0,Y,1,2,64,2,1.60,0.80,N
44506,1,2019-04-26,06:45:16,8,44,8219,N,1,1,51,2,6.00,3.00,N
45642,1,2019-04-27,07:03:03,5,26,0,Y,1,1,87,1,2.10,2.10,Y
45643,1,2019-04-27,07:03:03,5,26,0,Y,1,2,72,1,2.65,2.65,Y
46280,1,2019-04-27,10:05:48,8,42,8212,Y,1,1,23,2,5.00,2.50,N
46281,1,2019-04-27,10:05:48,8,42,8212,Y,7,1,5,1,15.00,15.00,N
47469,1,2019-04-28,07:41:44,5,30,5821,Y,1,1,56,2,5.10,2.55,N
49476,1,2019-04-29,08:48:11,8,45,0,N,1,1,87,2,4.20,2.10,Y
48426,1,2019-04-29,10:02:13,3,16,0,Y,1,1,42,2,5.00,2.50,N

In [20]:
indx = df_sales_rec.instore_yn[df_sales_rec.instore_yn==' ']#.unique()
df_sales_rec[df_sales_rec.instore_yn==' ']

,transaction_id,transaction_date,transaction_time,sales_outlet_id,staff_id,customer_id,instore_yn,order,line_item_id,product_id,quantity,line_item_amount,unit_price,promo_item_yn
11067,284,2019-04-07,17:33:57,8,43,0,,1,1,53,2,6.00,3.00,N
11068,284,2019-04-07,17:33:57,8,43,0,,1,4,70,1,3.25,3.25,N
11069,285,2019-04-07,19:04:35,8,13,8311,,1,1,32,1,3.00,3.00,N
11070,286,2019-04-07,12:22:42,8,13,0,,1,1,33,2,7.00,3.50,N
11071,287,2019-04-07,19:23:06,8,43,0,,1,1,34,2,4.90,2.45,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11356,511,2019-04-07,12:37:42,8,13,8030,,1,1,55,1,4.00,4.00,N
11357,512,2019-04-07,18:21:09,8,41,8476,,1,1,46,1,2.50,2.50,N
11358,513,2019-04-07,15:58:06,8,41,0,,1,1,39,2,8.50,4.25,N
11359,513,2019-04-07,15:58:06,8,41,0,,1,2,84,2,1.60,0.80,N
11360,514,2019-04-07,20:05:39,8,13,8145,,1,1,24,2,6.00,3.00,N

In [14]:
df_sales_rec.describe()

,transaction_id,sales_outlet_id,staff_id,customer_id,order,line_item_id,product_id,quantity,line_item_amount,unit_price
count,49894.000000,49894.000000,49894.000000,49894.000000,49894.000000,49894.000000,49894.000000,49894.000000,49894.000000,49894.000000
mean,869.056059,5.351846,25.359582,2282.324468,1.173428,1.631860,47.878983,1.438209,4.682646,3.384645
std,857.863149,2.074796,12.466490,3240.551757,1.025445,1.412881,17.928355,0.543039,4.436668,2.682545
min,1.000000,3.000000,6.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.800000
25%,223.000000,3.000000,15.000000,0.000000,1.000000,1.000000,33.000000,1.000000,3.000000,2.500000
50%,481.000000,5.000000,26.000000,0.000000,1.000000,1.000000,47.000000,1.000000,3.750000,3.000000
75%,1401.000000,8.000000,41.000000,5412.000000,1.000000,1.000000,60.000000,2.000000,6.000000,3.750000
max,4203.000000,8.000000,45.000000,8501.000000,9.000000,12.000000,87.000000,8.000000,360.000000,45.000000

In [6]:
df[CUSTOMER]

,customer_id,home_store,customer_first-name,customer_email,customer_since,loyalty_card_number,birthdate,gender,birth_year
0,1,3,Kelly Key,Venus@adipiscing.edu,2017-01-04,908-424-2890,1950-05-29,M,1950
1,2,3,Clark Schroeder,Nora@fames.gov,2017-01-07,032-732-6308,1950-07-30,M,1950
2,3,3,Elvis Cardenas,Brianna@tellus.edu,2017-01-10,459-375-9187,1950-09-30,M,1950
3,4,3,Rafael Estes,Ina@non.gov,2017-01-13,576-640-9226,1950-12-01,M,1950
4,5,3,Colin Lynn,Dale@Integer.com,2017-01-15,344-674-6569,1951-02-01,M,1951
...,...,...,...,...,...,...,...,...,...
2241,8497,8,Rae,Kylie@facilisi.org,2017-01-06,081-440-6679,1977-12-10,F,1977
2242,8498,8,April,Daniel@placerat.us,2019-01-20,705-545-5246,2000-12-07,N,2000
2243,8499,8,Clementine,Dieter@ac.us,2017-11-09,297-550-7776,1996-06-04,F,1996
2244,8500,8,Linda,Dillon@pretium.gov,2017-08-21,255-202-7435,1990-03-01,N,1990
2245,8501,8,Moana,Herrod@ultrices.gov,2018-07-06,241-906-4009,1966-08-27,F,1966

In [7]:
df[CUSTOMER].describe()

       customer_id   home_store   birth_year
count  2246.000000  2246.000000  2246.000000
mean   4285.902048     4.956812  1978.385574
std    3088.088265     1.852562    14.925503
min       1.000000     3.000000  1950.000000
25%     562.250000     3.000000  1965.000000
50%    5323.500000     5.000000  1981.000000
75%    5884.750000     5.000000  1991.000000
max    8501.000000     8.000000  2001.000000

In [8]:
df[PRODUCT]

,product_id,product_group,product_category,product_type,product,product_description,unit_of_measure,current_wholesale_price,current_retail_price,tax_exempt_yn,promo_yn,new_product_yn
0,1,Whole Bean/Teas,Coffee beans,Organic Beans,Brazilian - Organic,It's like Carnival in a cup. Clean and smooth.,12 oz,14.40,$18.00,Y,N,N
1,2,Whole Bean/Teas,Coffee beans,House blend Beans,Our Old Time Diner Blend,Out packed blend of beans that is reminiscent ...,12 oz,14.40,$18.00,Y,N,N
2,3,Whole Bean/Teas,Coffee beans,Espresso Beans,Espresso Roast,Our house blend for a good espresso shot.,1 lb,11.80,$14.75,Y,N,N
3,4,Whole Bean/Teas,Coffee beans,Espresso Beans,Primo Espresso Roast,Our primium single source of hand roasted beans.,1 lb,16.36,$20.45,Y,N,N
4,5,Whole Bean/Teas,Coffee beans,Gourmet Beans,Columbian Medium Roast,A smooth cup of coffee any time of day.,1 lb,12.00,$15.00,Y,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...
83,84,Add-ons,Flavours,Regular syrup,Chocolate syrup,Bursting with chocolate flavour,pump,0.04,$0.80,Y,N,N
84,85,Beverages,Coffee,Specialty coffee,Rio Nights,2 shots of Ouro Brasilerio and pure cane sugar...,6 oz,1.20,$6.00,Y,N,Y
85,87,Beverages,Coffee,Barista Espresso,Ouro Brasileiro shot,From Rio,1.5 oz,0.60,$3.00,Y,N,N
86,88,Beverages,Coffee,Barista Espresso,Ouro Brasileiro shot promo,Ouro promo,16 oz,0.42,$2.10,Y,Y,N
87,89,Food,Bakery,Scone,Ginger Scone promo,Little bit of spice,single,1.72,$2.65,N,Y,N

In [9]:
df[DATES]

,transaction_date,Date_ID,Week_ID,Week_Desc,Month_ID,Month_Name,Quarter_ID,Quarter_Name,Year_ID
0,4/1/2019,20190401,14,Week 14,4,April,2,Q2,2019
1,4/2/2019,20190402,14,Week 14,4,April,2,Q2,2019
2,4/3/2019,20190403,14,Week 14,4,April,2,Q2,2019
3,4/4/2019,20190404,14,Week 14,4,April,2,Q2,2019
4,4/5/2019,20190405,14,Week 14,4,April,2,Q2,2019
5,4/6/2019,20190406,14,Week 14,4,April,2,Q2,2019
6,4/7/2019,20190407,14,Week 14,4,April,2,Q2,2019
7,4/8/2019,20190408,15,Week 15,4,April,2,Q2,2019
8,4/9/2019,20190409,15,Week 15,4,April,2,Q2,2019
9,4/10/2019,20190410,15,Week 15,4,April,2,Q2,2019
10,4/11/2019,20190411,15,Week 15,4,April,2,Q2,2019
11,4/12/2019,20190412,15,Week 15,4,April,2,Q2,2019
12,4/13/2019,20190413,15,Week 15,4,April,2,Q2,2019
13,4/14/2019,20190414,15,Week 15,4,April,2,Q2,2019
14,4/15/2019,20190415,16,Week 16,4,April,2,Q2,2019
15,4/16/2019,20190416,16,Week 16,4,April,2,Q2,2019
16,4/17/2019,20190417,16,Week 16,4,April,2,Q2,2019
17,4/18/2019,20190418,16,Week 16,4,April,2,Q2,2019
18,4/19/2019,20190419,16,Week 16,4,April,2,Q2,2019
19,4/20/2019,20190420,16,Week 16,4,April,2,Q2,2019
20,4/21/2019,20190421,16,Week 16,4,April,2,Q2,2019
21,4/22/2019,20190422,17,Week 17,4,April,2,Q2,2019
22,4/23/2019,20190423,17,Week 17,4,April,2,Q2,2019
23,4/24/2019,20190424,17,Week 17,4,April,2,Q2,2019
24,4/25/2019,20190425,17,Week 17,4,April,2,Q2,2019
25,4/26/2019,20190426,17,Week 17,4,April,2,Q2,2019
26,4/27/2019,20190427,17,Week 17,4,April,2,Q2,2019
27,4/28/2019,20190428,17,Week 17,4,April,2,Q2,2019
28,4/29/2019,20190429,18,Week 18,4,April,2,Q2,2019
29,4/30/2019,20190430,18,Week 18,4,April,2,Q2,2019

## Productos

In [18]:
df_prod = df[PRODUCT]
df_prod

,product_id,product_group,product_category,product_type,product,product_description,unit_of_measure,current_wholesale_price,current_retail_price,tax_exempt_yn,promo_yn,new_product_yn
0,1,Whole Bean/Teas,Coffee beans,Organic Beans,Brazilian - Organic,It's like Carnival in a cup. Clean and smooth.,12 oz,14.40,$18.00,Y,N,N
1,2,Whole Bean/Teas,Coffee beans,House blend Beans,Our Old Time Diner Blend,Out packed blend of beans that is reminiscent ...,12 oz,14.40,$18.00,Y,N,N
2,3,Whole Bean/Teas,Coffee beans,Espresso Beans,Espresso Roast,Our house blend for a good espresso shot.,1 lb,11.80,$14.75,Y,N,N
3,4,Whole Bean/Teas,Coffee beans,Espresso Beans,Primo Espresso Roast,Our primium single source of hand roasted beans.,1 lb,16.36,$20.45,Y,N,N
4,5,Whole Bean/Teas,Coffee beans,Gourmet Beans,Columbian Medium Roast,A smooth cup of coffee any time of day.,1 lb,12.00,$15.00,Y,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...
83,84,Add-ons,Flavours,Regular syrup,Chocolate syrup,Bursting with chocolate flavour,pump,0.04,$0.80,Y,N,N
84,85,Beverages,Coffee,Specialty coffee,Rio Nights,2 shots of Ouro Brasilerio and pure cane sugar...,6 oz,1.20,$6.00,Y,N,Y
85,87,Beverages,Coffee,Barista Espresso,Ouro Brasileiro shot,From Rio,1.5 oz,0.60,$3.00,Y,N,N
86,88,Beverages,Coffee,Barista Espresso,Ouro Brasileiro shot promo,Ouro promo,16 oz,0.42,$2.10,Y,Y,N
87,89,Food,Bakery,Scone,Ginger Scone promo,Little bit of spice,single,1.72,$2.65,N,Y,N

In [43]:
# max([len(pr) for pr in df_prod["product_description"]])
# df_prod["product"]
df_prod[df_prod.promo_yn == "Y"]

,product_id,product_group,product_category,product_type,product,product_description,unit_of_measure,current_wholesale_price,current_retail_price,tax_exempt_yn,promo_yn,new_product_yn
66,67,Beverages,Coffee,Seasonal drink,Pumpkin Spice Latte Lg,"Boo, its that time of year again",3.0 oz,1.19,$5.95,Y,Y,N
67,68,Beverages,Drinking Chocolate,Seasonal drink,Happy Holidays hot chocolate,"Candy cane and hot chocolate, perfect.",8 oz,2.81,$3.75,Y,Y,Y
86,88,Beverages,Coffee,Barista Espresso,Ouro Brasileiro shot promo,Ouro promo,16 oz,0.42,$2.10,Y,Y,N
87,89,Food,Bakery,Scone,Ginger Scone promo,Little bit of spice,single,1.72,$2.65,N,Y,N